<div class="post-card-wrapper">
  <%= link_to post_path(post), class: "post-card" do %>
    <div class="post-card__image-box">
      <% if post.image.attached? %>
        <%= image_tag post.image, class: "post-card__img" %>
      <% end %>
    </div>

    <div class="post-card__body">
      <h3 class="post-card__title"><%= post.title %></h3>
      <p class="post-card__user"><span>投稿者: </span><%= post.user.name %></p>
      <p class="post-card__date">投稿日: <%= post.created_at.strftime('%Y/%m/%d') %></p>
    </div>
  <% end %>

  <div class="post-card__bookmark">
    <%= render "favorites/btn", post: post %>
  </div>
</div>